/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* COLORS */
:root {
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Ubuntu', sans-serif;
    --primary-color: rgba(15, 10, 10, 1);
    --secondary-color: rgba(245, 239, 237, 1);
    --accent-color: rgba(247, 203, 21, 1);
    --other-accent: rgba(187, 68, 48, 1);
    --background-color: rgba(113, 162, 182, 0.6);
}

/* GLOBAL STYLES */
#logo {
    font-size: x-large;
}

body {
    background-color: var(--background-color);
    padding-top: 130px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bolder;
}

p {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1rem;
}

label {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: bold;
}

.btn {
    background-color: var(--accent-color);
    border: none;
    color: var(--primary-color);
    font-weight: bolder;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* font-weight: bolder;
    font-size: large;
    transition: transform 1s; */
}

/* Style checked Flight Type radio button */
.btn-check:checked+.btn-outline-primary {
    background-color: var(--other-accent);
    color: var(--secondary-color);
}

/* Style Flight Type radio button on hover */
.btn-check+.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s;
}

/* FORM BUTTONS */
#clearFormGroup,
#submitFormGroup {
    margin-top: 3vh;
}

/* DESIGN TOOLS */
.hide {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    /* prevents navbar overlap */
    padding-top: 4.1rem;
}

.bottom {
    margin-bottom: 4.5rem;
}

/* NAVBAR */
.nav-link {
    color: var(--other-accent);
    font-size: large;
    font-weight: bolder;
}

.nav-link:hover {
    color: var(--primary-color);
    font-size: larger;
    font-weight: bolder;
    transition: 0.5s;
}

.navbar {
    min-height: 7vh;
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
}

/* DROPDOWN MENU */
.dropdown-menu {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.dropdown-item {
    color: var(--secondary-color);
}

.dropdown-item:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

/* HEADER */
#booking-section {
    justify-self: center;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--secondary-color);
}

#passengers,
input::placeholder,
input[type="text"],
input[type="date"],
input[type="email"],
textarea::placeholder,
#message {
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="date"]:focus,
#passengers:focus,
input[type="email"]:focus,
#message:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5px var(--accent-color);
}

/* FORM VALIDATION */
.invalid {
    border-color: var(--other-accent) !important;
}

.invalid:focus {
    box-shadow: 0 0 5px var(--other-accent) !important;
}

/* MAP */

#travel-map {
    width: 100%;
    padding: 2rem 0;
}

#map {
    width: 88%;
    height: 50vh;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 20px var(--primary-color);
    position: relative;
}

/* MODAL CONTENT */
.modal-content {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--secondary-font);
    max-height: 60vh;
}

#about {
    border: 1.5rem;
}

/* INDEX SLIDES */

.carousel img {
    max-height: 40rem;
    object-fit:fill;
}

.carousel-inner h3 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: rgba(245, 239, 237, 0.7);
}
.carousel-inner p {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(15, 10, 10, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(15, 10, 10, 0.6);
    border-radius: 25px;
    padding: 1.4em;
}

/* INFINITE SCROLLING IMAGES */
.carousel {
    display: flex;
    overflow: hidden;
    /* background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 20px var(--primary-color); */
    margin: auto;
    width: 90%;
    overflow: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroller 55s linear infinite;
    padding-right: 1em;
}

.info-cards {
    flex: 0 0 5em;
    height: 5em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

#infinite-scroll .info-cards img {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 88%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@keyframes scroller {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}

#businessHours p {
    margin: 0;
}

/* back to top button */
#backToTop {
    position: fixed;
    bottom: 82px;
    right: 68px;
    display: none;
    color: var(--other-accent);
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 60px;
    transition: opacity 0.3s ease-in-out;
}

/* FOOTER */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

.social-icon {
    font-size: 2.3rem;
}

/* MEDIA QUERY */

/* SMALL DEVICES (> 576x) : mobile phones */
@media screen and (max-width: 576px) {
    #flightTypeGroup .btn,
    #flightGradeGroup .btn {
        font-size: 0.8rem;
    }
}

/* MEDIUM DEVICES (< 768px) : tablet phones */
@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        padding-top: 1.3rem;
    }

    .info-cards {
        flex-direction: column;
    }

    #backToTop {
        bottom: 45px;
        right: 42px;
    }

    #clearFormGroup {
    margin-top: 2.8vh;
    }

    #submitFormGroup {
    margin-top: 1.6vh;
    }

    #divide {
        justify-self: center;
    }

    #businessHours {
        justify-items: flex-end;
        justify-self: flex-end;
    }
}